<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/html-header.twig' %}
</head>
<body>
{% include "partials/hero.twig" %}
<div class="header">
    <div class="header__title">Working Experience</div>
    <div class="header__subtitle">The fantastic people I worked with recently</div>
    <div class="header__icon"><img src="assets/images/icon-header-1.jpg"></div>
    <div class="header__text">
        <h1>Career at a glance</h1>
        <ul>
            <li><b>Started to code using Perl before the dot com bubble burst</b>I started as a system administrator, but I soon start to code again.</li>
            <li><b>Learned Flash and PHP and build Rich Internet Application.</b> I coded Flash applications and connected them to web service writter in PHP using SOAP and REST. I used PostgreSQL then MySQL as database. </li>
            <li><b>Participated in projects for national and international organisations.</b> Some of the organisations I made projects for include: Nokia, Yoplait, Videotron, International Civil Aviation Organization (ICAO), World Anti-Doping Agency(WADA), CKOI - a populat Montreal radio.</li>
            <li><b>Occupied team leader and project management positions.</b> I like coaching team and pass down my knowledge and I have a great sense of organization.</li>
            <li><b>Recently work with Laravel and the most recent front end technologies.</b> I never stop to learn, I am now learning deep learning, Python and GraphQL. That's why I choose that career, always something exciting to do!</li>
        </ul>
        <h1>Work History</h1>
    </div>
</div>
{% include "partials/experience.twig" %}
{% include "partials/footer.twig" %}
</body>