<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/html-header.twig' %}
</head>
<body>
{% include "partials/hero.twig" %}
<div class="header">
    <div class="header__title">Working Experience</div>
    <div class="header__subtitle">The fantastic people I worked with recently</div>
    <div class="header__icon"><img src="assets/images/icon-header-1.jpg"></div>
    <div class="header__text">
        <h1>Career at a glance</h1>
        <p>I started developing web site before the dot com bubble burst using perl. A couple of years later I started
            developing rich internet applications in Flash and connected them to web service(REST/SOAP) written in
            PHP/MySQL and even led some teams. At the same time I completed a certificate in project management at HEC
            Montreal university and occupied some positions as project manager but realised I much more preferred to
            code. When Flash died I
            continued developing in PHP and started to use Laravel as a framework. True to my passion for front end
            development I learned and used the latest front end technologies and tools.<br><br><span class="text__note">Note:
To simplify reading only the past 5 years is displayed</span></p>
    </div>
</div>
{% include "partials/experience.twig" %}