<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/html-header.twig' %}
</head>
<body>
{% include "partials/hero.twig" %}
<div class="header">
    <div class="header__title">Education</div>
    <div class="header__subtitle">What interesting things I learned</div>
    <div class="header__icon"><img src="assets/images/icon-header-1.jpg"></div>
    <div class="header__text">
        <h1>My education</h1>
        <p>I first wanted to study physic and discover all the mysteries of quantum mechanic. Then I discovered the internet and it changed my life. I realised I spent most of my free time in the computer lab! So I decided to switch to a college major in computering. The cursus didn't include any classes about the internet, so I did a college minor in network management and administration. I learnt to code in perl at my first job. Later I decided to advance my career and do a certificate in project management at HEC Montreal university with some classes in marketing. But I realised I way prefer to code. Given that none of the technologies I learnt when I started my career are still in use I have a culture of self-learning. Always learning new trick and trying to push the technology at their maximum. I am not the kind of person to sit on its laurels! </p>
        <p><b>2009 - Project Management</b><br>
        <i>Certificate(University Degree)</i><br>
        HEC Montréal</p>
        <p><b>1999 - Network administration</b><br>
        <i>College minor</i><br>
        Collège Marsan</p>
        <p><b>1998 - Computering</b><br>
        <i>College major</i><br>
        Cégep de Trois-Rivières</p>

    </div>
</div>
{% include "partials/footer.twig" %}
</body>