<head>
    {% include 'partials/html-header.twig' %}
</head>
<body>
{% include "partials/hero.twig" %}

<div class="header">
    <div class="header__title">Professional Web Developer</div>
    <div class="header__subtitle">Full stack web developer located in Victoria, BC</div>
    <div class="header__icon"><img src="assets/images/icon-header-1.jpg"></div>
    <div class="header__text">
        <p>Coming from Montreal, the hub in multimedia and web technology in Canada, I had the chance to work on important projects
        for national portfolios as well as for dynamic and creative startups. Now in Victoria, BC I am looking for a position as a web developer.</p>
        <P>My experience goes beyond technical skills, on top of having occupied positions as team leader and project manager
        I have a certificate in project management from HEC Montreal.</p>
        <p>You will like my initiative, work ethic and positive attitude!</p>
        <a href="skills.html">Learn more >></a>
    </div>
</div>

</div>

</body>