<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/html-header.twig' %}
</head>
<body>
{% include "partials/hero.twig" %}

<div class="header">
    <div class="header__title">Technical Skils</div>
    <div class="header__subtitle">Some of the technologies I worked with recently</div>
    <div class="header__icon"><img src="assets/images/icon-header-1.jpg"></div>
</div>
<div class="card">
    <h1>Experience at a glance</h1>
    <br>
    <div class="card__item">
        <h2>Back End</h2>
        Ngnix<br>
        PHP/MySQL<br>
        Laravel<br>
        Web service(SOAP/REST)<br>
        AJAX<br>
    </div>
    <div class="card__item">
        <h2>Front End</h2>
        Javascript ES6/ES7<br>
        HTML5/CSS3 animation<br>
        Bootstrap/Foundation<br>
        JQuery/Mootol<br>
        Angular/React<br>
        npm/gulp/babel
    </div>
    <div class="card__item">
        <h2>Dev op</h2>
        Virtualization<br>
        Vagrant/Ansible<br>
        Docker<br>
        CVS/SVN/git<br>
    </div>
    <div class="card__item">
        <h2>Miscellenous</h2>
        Python<br>
        Selenium<br>
        JIRA<br>
        Agile(scrum,kanban)<br>
        Atomic Design(pattern lab)<br>
        BEM
    </div>
    <div class="card__item">
        <h2>Hobby</h2>
        Learning Deep Learning<br>
        Photoshop/Lightroom<br>
        Photography<br>
    </div>
</div>
<div class="clearfix"></div>
{% include "partials/footer.twig" %}
</body>
</html>