<div class="footer">
    <div class="footer__coordinate">
        <b>Philippe Dion</b><br>
        <b><i class="fa fa-at" aria-hidden="true"></i></b> <a href="mailto:dionphil@hotmail.com"><span class="footer__link">dionphil@hotmail.com</span></a><br>
        <b><i class="fa fa-phone" aria-hidden="true"></i></b> 778.584.9188
    </div>
    <div class="footer__copyright">
        All right reserved 2017 <i class="fa fa-copyright" aria-hidden="true"></i>
    </div>
</div>