<div  id="hero--particles" class="hero--{{ section }}">
    <div class="hero__text">
        <div class="hero__title">{{ section }}</div>
        <div class="hero__subtitle">{{ quote }}</div>
    </div>
    {% include "menu.twig" %}
</div>