{% set sections = ["about","skills","career","education","portfolio"] %}
<div class="menu">
    {% for name in sections %}
    <div class="{% if section == name %}  menu__item--selected {% else %} menu__item menu__item--expandable{% endif %}">
        {% if section != name %} <a href="index.html">{{ name}}</a> {% else %} {{ name}} {% endif %}
    </div>
    {% endfor %}
</div>