{% set sections = [
    { page: "index", name:"about"},
    { page: "skills", name:"skills"},
    { page: "career", name:"career"},
    { page: "education", name:"education"},
    { page: "portfolio", name:"portfolio"}
] %}
<div class="menu">
    {% for config in sections %}
    <div class="{% if section == config.name or subsection == config.name %}  menu__item--selected {% else %} menu__item menu__item--expandable{% endif %}">
        {% if section == config.name or subsection == config.name %}
            {{ config.name}}
        {% else %}
            <a href="{{ config.page }}.html">{{ config.name}}</a>
        {% endif %}
    </div>
    {% endfor %}
</div>