.hero {
  position: relative;
  width: 100%;
  height: 740px !important;

  color: white;
  text-align: center;


  &--about {
    @extend .hero;
    background-image: url('#{$images-dir}/about-hero.jpg') !important;
  }

  &--skills {
    @extend .hero;
    background-image: url('#{$images-dir}/skills-hero.jpg') !important;
  }

  &--career {
    @extend .hero;
    background-image: url('#{$images-dir}/career-hero.jpg') !important;
  }
  &--education {
    @extend .hero;
    background-image: url('#{$images-dir}/education-hero.jpg') !important;
  }
  &--portfolio {
    @extend .hero;
    background-image: url('#{$images-dir}/portfolio-hero.jpg') !important;
  }

}

.hero__text {
  position: relative;
  top: 220px;
  padding-right: 20px;
  padding-left: 20px;

  margin: auto;
  text-align: center;
}

.hero__title {
  text-transform: uppercase;
  font-family: $font-sans;
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero__subtitle {
  margin-top: -30px;
  font-size: 1.7em;
  font-family: $font-sherif;
}

