@import 'variables';
@import 'font-awesome/font-awesome';
@import 'type/typography';
@import 'component/particlejs';
@import 'component/hero';
@import 'component/header';
@import 'component/menu';
@import 'component/card';
@import 'component/experience';
@import 'component/footer';

body {
  margin: 0px;
  padding: 0px;
}

div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin-top: 0px;
  margin-bottom: 40px;
}

a:link {
  text-decoration: none;
  color: $grey-medium;
}
a:visited {
  text-decoration: none;
  color: $grey-medium;
}
a:hover {
  text-decoration: none;
  color: $grey-medium;
}
a:active {
  text-decoration: none;
  color: $grey-medium;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
